body {
  font-family: "Source Sans Pro", sans-serif;
  color: #404040;
  margin: 0;
}

/* =================
    Typography 
   ================= */

h1 {
  font-weight: 400;
}

.beta-text {
  font-weight: 900;
}

.subheading {
  color: #575757;
  font-weight: 900;
}

/* =================
    Intro
   ================= */

.intro {
  display: flex;
  flex-direction: column;
  min-height: 250px;
  text-align: center;
  justify-content: center;
  color: #fff;
  background-color: #9480e4;
}

/* ====================
    Main content
   ==================== */

.main-content {
  text-align: center;
  padding: 50px 20px;
}

h2 {
  font-size: 2.5rem;
  margin-bottom: 0;
  color: #333;
}

.subheading {
  display: block;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 20px;
}

/* =================
    Avatar style
   ================= */

/*Base image style*/

.img-main {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 50%;
  padding: 8px;
  border: 4px solid #fff;
  transition: background 0.5s ease, box-shadow 0.5s ease, transform 0.3s ease;
}

/* --- THE VIBES --- */

/* Professional */
.style-professional {
  background: linear-gradient(135deg, #2c3e50, #4ca1af);
  box-shadow: 0 10px 20px rgba(44, 62, 80, 0.3);
}

/* Funny*/
.style-funny {
  background: radial-gradient(circle, #ff9a9e 0%, #fecfef 99%, #fecfef 100%);
  box-shadow: 0 10px 20px rgba(255, 154, 158, 0.4);
}

/* Cyber */
.style-cyber {
  background: repeating-linear-gradient(
    45deg,
    #9480e4 0px,
    #ff00ff 20px,
    #00ffff 40px
  );
  box-shadow: 0 0 25px rgba(0, 255, 255, 0.5);
}

/* =================
    Buttons
   ================= */

.style-options {
  margin: 20px 0;
  display: flex;
  justify-content: center;
  gap: 15px;
}

.style-btn {
  padding: 10px 20px;
  border: 1px solid #ddd;
  border-radius: 20px;
  background: white;
  cursor: pointer;
  font-family: inherit;
  font-weight: 900;
  transition: 0.2s;
}

.style-btn:hover {
  background: #9480e4;
  color: white;
}

/* =================
    Form
   ================= */

/* =================
    Media queries 
   ================= */
